<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="text-center fs-3">
                Form - Nova Pessoa
            </p>
        </div>
    </div>
    <div class="card w-75 m-auto p-3">
        <div class="card-body">
            <form>
            <div class="row">
                <div class="col-sm col-md-12 col-sm col-lg-7">
                    <label for="nomePessoa">Nome Completo</label>
                    <input class="form-control" type="text" placeholder="Exemplo: Guilherme Watanabe" id="nomePessoa" />
                </div>
                <div class="col-sm col-md-12 col-sm col-lg-5">
                     <label for="documentoPessoa">CPF</label>
                     <input class="form-control" type="text" placeholder="Apenas Números" id="documentoPessoa" />
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm col-md-12 col-sm col-lg-7">
                    <label for="emailPessoa">E-mail</label>
                    <input class="form-control" type="text" placeholder="E-mail para contato" id="documentoPessoa" />
                </div>
                <div class="col-sm col-md-12 col-sm col-lg-5">
                    <label for="arquivoPessoa">Anexar Arquivo(s) Relevante(s)</label>
                    <input class="form-control" type="file" multiple accept=".png, .pdf, .docx, .xls, .xlsx, .csv" placeholder="E-mail para contato" id="arquivoPessoa" />
                </div>
            </div>
            <div class="row mt-3">
                <button type="submit" class="btn btn-outline-primary w-75 d-block m-auto">Finalizar Cadastro</button>
            </div>
            </form>
        </div>
    </div>
</div>
